body {
  margin: 0;
  padding: 90px 60px;
  /* background-image: linear-gradient(90deg,#eee,#eee); */
  font-family: Manrope,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Noto Sans,Liberation Sans,Arial,sans-serif,Apple Color Emoji,NotoColorEmojiLimited,Segoe UI Emoji,Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 900px) {
  body {
    padding: 90px 10px!important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  position: relative;
  display: flex;
  max-width: 1480px;
  margin: auto;
  justify-content: center;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 7px;
}

/* For Firefox */
::-moz-scrollbar {
  width: 7px;
}

/* For Internet Explorer and Edge */
::-ms-scrollbar {
  width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}